body{
    background-color:white
  	}

h1{
   font-family:Verdana,sans-serif;
   border: 5px dashed orange;
   text-shadow: 2px 2px;
   font-style:italic;
   font-size:40pt;
   color:purple;
   text-align:center
}

p{text-align:center;} 